<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Colleg</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  <servlet-name>FINDALLCONTROLLER</servlet-name>
  <servlet-class>com.createiq.students.controller.StudentFindAllController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FINDALLCONTROLLER</servlet-name>
  <url-pattern>/FindAllStudentsController</url-pattern>
   </servlet-mapping>
  <servlet>
  <servlet-name>INSERT</servlet-name>
  <servlet-class>com.createiq.students.controller.StudentInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>INSERT</servlet-name>
  <url-pattern>/INSERTSTUDENTCONTROLLER</url-pattern>
    </servlet-mapping>
    
   <servlet>
  <servlet-name>UPDATE</servlet-name>
  <servlet-class>com.createiq.students.controller.StudentUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UPDATE</servlet-name>
  <url-pattern>/StudentUpdateController</url-pattern>
  
  </servlet-mapping>
  <servlet>
  <servlet-name>DELETE</servlet-name>
  <servlet-class>com.createiq.students.controller.StudentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DELETE</servlet-name>
  <url-pattern>/StudentDeleteController</url-pattern>
    </servlet-mapping>
    
    <servlet>
  <servlet-name>SEARCH</servlet-name>
  <servlet-class>com.createiq.students.controller.StudentSearchByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SEARCH</servlet-name>
  <url-pattern>/StudentSearchByIdController</url-pattern>
    </servlet-mapping>
    
  
  
  
 
</web-app>
